<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>Title</key>
        <string>Server</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTextFieldSpecifier</string>
        <key>Key</key>
        <string>server</string>
        <key>Title</key>
        <string>Server name</string>
        <key>AutocapitalizationType</key>
        <string>None</string>
        <key>AutocorrectionType</key>
        <string>No</string>
        <key>IsSecure</key>
        <false/>
        <key>KeyboardType</key>
        <string>URL</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>Title</key>
        <string>Printer</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTextFieldSpecifier</string>
        <key>Key</key>
        <string>printer</string>
        <key>Title</key>
        <string>Printer name</string>
        <key>AutocapitalizationType</key>
        <string>None</string>
        <key>AutocorrectionType</key>
        <string>No</string>
        <key>IsSecure</key>
        <false/>
        <key>KeyboardType</key>
        <string>URL</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>Title</key>
        <string>Default Language</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSMultiValueSpecifier</string>
        <key>Key</key>
        <string>language</string>
        <key>Values</key>
        <array>
            <dict>
                <key>english</key>
                <string>en</string>
            </dict>
            <dict>
                <key>suomi</key>
                <string>fi</string>
            </dict>
            <dict>
                <key>svenska</key>
                <string>sv</string>
            </dict>
        </array>
        <key>Titles</key>
        <array>
            <dict>
                <key>english</key>
                <string>English</string>
            </dict>
            <dict>
                <key>suomi</key>
                <string>Suomi</string>
            </dict>
            <dict>
                <key>svenska</key>
                <string>Svenska</string>
            </dict>
        </array>
      </dict>
    </array>
  </dict>
</plist>
